* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #cef3fc;
}
.container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 90vw;
  margin-top: 20px;
}
h3 {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: #009fc7;
}
.draggable-objects,
.drop-points {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
}
.draggable-image {
  height: 5em;
  cursor: move;
  display: inline-block;
  margin: 5px;
}
img {
  height: 5em;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}
.milestones {
  place-items: center;
  border: 0.25em dashed #009fc7;
  border-radius: 0.8em;
  margin: 10px;
  padding: 20px;
  min-height: 8em;
  max-height: 8em;
  line-height: 5em;
}
.dropped {
  padding: 20px;
  background-color: #e5ffc8;
}
.controls-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}
.controls-container button {
  font-size: 1.12em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: #009fc7;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.controls-container p {
  color: #009fc7;
  font-size: 2em;
  margin: 100px;
}
.hide {
  display: none;
}
