* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #cef3fc;
}
.container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 90vw;
  margin-top: 20px;
}
h3 {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: #009fc7;
}
.draggable-objects,
.drop-points {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
}
.draggable-image {
  height: 5em;
  cursor: move;
  display: inline-block;
  margin: 5px;
}
img {
  height: 5em;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}
.milestones {
  place-items: center;
  border: 0.15em dashed #009fc7;
  border-radius: 0.8em;
  margin: 10px;
  padding: 0 20px 20px 20px;
  line-height: 5em;
  font-weight: bold;
}
.dropped {
  padding: 10px;
  background-color: #5fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.date-box {
  text-align: center;
  color: #0007;
  background-color: #00000017;
}
.hide {
  display: none;
}

#cooper_logo {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 150px;
}

#coopergames_logo {
  position: fixed;
  bottom: 5%;
  left: 3%;
  top: auto;
  width: 250px;
}

#controls-container {
  position: fixed;
  width: 50vw;
  height: 60vh;
  top: 45%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -40%);
  border-radius: 10px;
}

#controls-container button {
  background-color: #009fc7;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto 15px;
  position: absolute;
  bottom: 10%;
}

#controls-container .button1 {
  left: 10%;
}

#controls-container .button2 {
  right: 10%;
}

#controls-container h1 {
  font-family: "Lato", sans-serif;
  color: #009fc7;
  font-size: 45px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#trophy {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

h1.header {
  color: #009fc7;
  font-size: 45px;
  text-align: center;
  margin: 25px;
}
